<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading"style="
    font-weight: bold;
">{{seguro.compania | uppercase }} - {{seguro.tipoSeguro}}</h4>
    <p class="list-group-item-heading"></p>
    <p class="list-group-item-text" style="
    color: green;
    font-weight: bold;
    font-size: large;
" *ngIf="seguro.estado ==='Activo'">Estado: {{seguro.estado | uppercase }}</p>
<p class="list-group-item-text" style="
    color: red;
    font-weight: bold;
    font-size: large;
" *ngIf="seguro.estado ==='Vencido'">Estado: {{seguro.estado | uppercase }}</p>
<p class="list-group-item-text" style="
    color: #b0bf2e;
    font-weight: bold;
    font-size: large;
" *ngIf="seguro.estado ==='Revisar'">Estado: {{seguro.estado | uppercase }}</p>
  </div>
</a>
