<header class="jumbotron my-2">
    <h1 class="display-3 text-center">Solicitudes</h1>
    <p class="lead text-center">Aquí podrá ver todas las solicitudes realizadas y sus estados.</p>
</header>
<div class="row">
    <div class="col-xs-12 alert alert-danger" *ngIf="solicitudes.length==0">        
        <h3>Usted no posee solicitudes</h3>
    </div>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <button *ngIf="currentUser.tipoUsuarioId == 2">Actualizar Solicitudes</button>
    <table class="table" *ngIf="solicitudes.length != 0">
        <thead>
          <tr>            
            <th scope="col">ID Solicitud</th>
            <th scope="col" *ngFor="let id of solicitudesId">{{ id }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Tipo Solicitud</th>
            <td *ngFor="let nombre of tipoSolicitudNombre">{{ nombre }}</td>
          </tr>
          <tr>
            <th scope="row">Seguro Id (Provisorio)</th>
            <td *ngFor="let id of seguroId">{{ id }}</td>
          </tr>
          <tr>
            <th scope="row">Tipo Seguro</th>
            <td *ngFor="let tipo of seguroTipo">{{ tipo }}</td>
          </tr>  
          <tr *ngIf="currentUser.tipoUsuarioId == 2">
            <th scope="row">Asegurado</th>
            <td *ngFor="let asegurado of asegurados">{{ asegurado }}</td>
          </tr>
          <tr *ngIf="currentUser.tipoUsuarioId == 1">
            <th scope="row">Productor</th>
            <td *ngFor="let productor of productores">{{ productor }}</td>
          </tr>        
          <tr>
            <th scope="row">Compañia</th>
            <td *ngFor="let compania of companiaNombre">{{ compania }}</td>
          </tr>
          <tr>
            <th scope="row">Detalles</th>
            <td *ngFor="let detalle of seguroDetalles">{{ detalle }}</td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td *ngFor="let estado of seguroEstado">{{ estado }}</td>
          </tr>
        </tbody>
      </table>
</div>