<header class="jumbotron my-2">
    <h1 class="display-3 text-center">Registrar Usuario</h1>
    <p class="lead text-center">Aquí podrá registrar un nuevo usuario</p>
</header>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div class="alert alert-success" *ngIf="registered">
            <p>El usuario ha sido registrado</p>
        </div>
        <div *ngIf="isLoading" class="centered">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmitSignUp(authForm)" *ngIf="!isLoading">
            <div class="form-group">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            name="email" 
            class="form-control" 
            ngModel
            required 
            #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Por favor, ingrese un email válido</span>
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            class="form-control"
            ngModel 
            name="password"
            minlength="6"
            #password="ngModel"
            required
            />
            </div>
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" 
                id="name" 
                placeholder="Nombre" 
                class="form-control"
                ngModel
                name="name"
                required
                >    
            </div>
            <div class="form-group">
                <label for="lastname">Apellido</label>
                <input type="text" 
                id="lastname" 
                placeholder="Apellido" 
                class="form-control"
                ngModel
                name="lastname"
                required
                >    
            </div>
            <div class="form-group">
                <label for="dni">DNI</label>
                <input type="number" 
                id="dni" 
                minlength="6"
                maxlength="10"
                placeholder="DNI" 
                class="form-control"
                ngModel
                name="dni"
                #dni="ngModel"
                required
                >    
            </div>
            <div class="form-group">
                <label for="usertype">Tipo de Usuario</label>
                <br>
                <select name="usertypes" id="usertypeSelection" required ngModel #usertype='ngModel'>
                    <option value="Productor">Productor</option>
                    <option value="Asegurado">Asegurado</option>
                </select>
                <span class="help-block" *ngIf="!usertype.valid && usertype.touched">Por favor, seleccione su tipo de usuario</span> 
            </div> 
            <div class="form-group" *ngIf="usertype.viewModel === 'Productor'">
                <label for="matrícula">Nº de Matrícula</label>
                <input type="number" 
                id="matricula" 
                placeholder="Matrícula" 
                class="form-control"
                ngModel
                #matricula="ngModel"
                name="matricula"
                required                
                > 
            </div> 
            <div class="form-group">
                <label for="address">Domicilio</label>
                <input type="text" 
                id="address" 
                placeholder="Domicilio" 
                class="form-control"
                ngModel
                name="address"
                #domicilio="ngModel"
                required
                >    
            </div>
            <div class="form-group">
                <label for="phone">Nº de Teléfono/Celular</label>
                <input type="number" 
                id="phone" 
                placeholder="Nº Tel/Cel" 
                minlength="9"
                class="form-control"
                ngModel
                #telefono="ngModel"
                name="phone"
                required
                >    
            </div>     
            <div>
            <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Registrar</button>
            </div>
        </form>
    </div>
  </div>
