<header class="jumbotron my-2">
    <h1 class="display-3 text-center">Alta Seguro</h1>
    <p class="lead text-center">Aquí podrá solicitar el alta de un seguro</p>
</header>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3"> 
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div class="alert alert-success" *ngIf="created">
            <p>Solicitud creada satisfactoriamente!</p>
        </div>
        <div *ngIf="isLoading" class="centered">
            <app-loading-spinner></app-loading-spinner>
        </div>      
        <form #altaForm="ngForm" (ngSubmit)="onSubmitAlta(altaForm)" *ngIf="!isLoading">
            <div class="form-group">
            <label for="tipoSeguro">Tipo Seguro</label>
            <input 
            type="text" 
            id="tipoSeguro" 
            name="tipoSeguro" 
            class="form-control" 
            ngModel
            required 
            #tipoSeguro="ngModel">
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="productor">Productor</label>
                    <br>
                    <select name="productor" id="productorSelection" required ngModel #productor='ngModel'>
                        <option *ngFor="let productor of productores; let i = index">{{productor}}</option>
                    </select>
                    <span class="help-block" *ngIf="!productor.valid && productor.touched">Por favor, seleccione un productor</span> 
                </div> 
            </div>    
            <div class="form-group">
                <label for="compañia">Compañia</label>
                <br>
                <select name="compañia" id="compañiaSelection" required ngModel #compania='ngModel'>
                    <option *ngFor="let compania of companies; let i = index">{{compania}}</option>
                </select>
                <span class="help-block" *ngIf="!compania.valid && compania.touched">Por favor, seleccione una compañia</span>  
            </div>
            <div class="form-group">
                <label for="detalles">Detalles (Por favor, ser lo más específico posible):</label>
                <input type="text" 
                id="detalles" 
                placeholder="Detalles" 
                class="form-control"
                ngModel
                name="detalles"
                required
                >    
            </div>            
            <div>
            <button class="btn btn-primary" type="submit" [disabled]="!altaForm.valid">Solicitar Alta</button>
            </div>
        </form>
    </div>
  </div>
