<header class="jumbotron my-2">
    <h1 class="display-3 text-center">Mi Cuenta</h1>
    <p class="lead text-center">Aquí podrá ver la información asociada a su cuenta</p>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <p>Para cualquier cambio en sus datos personales, por favor contacte al administrador</p>
            </div>
            <form>
                <div id="user-data">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" 
                        id="name"  
                        class="form-control"
                        ngModel
                        name="name"
                        disabled
                        value="{{ currentUser.nombre }}">    
                    </div>
                    <div class="form-group">
                        <label for="lastname">Apellido</label>
                        <input type="text" 
                        id="lastname" 
                        class="form-control"
                        ngModel
                        name="lastname"
                        disabled
                        value="{{ currentUser.apellido }}">    
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="number" 
                        id="dni" 
                        class="form-control"
                        ngModel
                        name="dni"
                        #dni="ngModel"
                        value="{{ currentUser.dni }}"
                        disabled>                           
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" 
                        id="id" 
                        class="form-control"
                        ngModel
                        name="id"
                        email
                        disabled
                        #id="ngModel"
                        value="{{ currentUser.id }}">                        
                    </div>
                    <div class="form-group" *ngIf="currentUser.tipoUsuarioId === 1">
                        <label for="usertype">Tipo de Usuario</label>
                        <input type="text" 
                        id="usertype" 
                        class="form-control"
                        name="usertype"
                        disabled
                        value="Asegurado">                        
                    </div> 
                    <div class="form-group" *ngIf="currentUser.tipoUsuarioId === 2">
                        <label for="usertype1">Tipo de Usuario</label>
                        <input type="text" 
                        id="usertype1" 
                        class="form-control"
                        name="usertype1"
                        disabled
                        value="Productor">                        
                    </div> 
                    <div class="form-group" *ngIf="currentUser.tipoUsuarioId === 2">
                        <label for="matrícula">Nº de Matrícula</label>
                        <input type="number" 
                        class="form-control"
                        disabled
                        value="{{ currentUser.matricula }}">                         
                    </div> 
                    <div class="form-group">
                        <label for="address">Domicilio</label>
                        <input type="text" 
                        id="address" 
                        class="form-control"
                        ngModel
                        name="address"
                        disabled
                        value="{{ currentUser.domicilio }}">    
                    </div>
                    <div class="form-group">
                        <label for="phone">Nº de Teléfono/Celular</label>
                        <input type="number" 
                        id="phone" 
                        class="form-control"
                        ngModel
                        name="phone"
                        disabled
                        value="{{ currentUser.telefono }}">    
                    </div>     
                </div>
                <br>
                <br>                
            </form>
        </div>
    </div>
</div>
