<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
              <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/login" *ngIf="!isAuthenticated" class="navbar-brand"style="
            font-size: xx-large;
        ">ASEGURA2</a>
        <a routerLink="/inicio" *ngIf="isAuthenticated" class="navbar-brand"style="
        font-size: xx-large;
    ">ASEGURA2</a>
          </div>
          <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
            <ul class="nav navbar-nav navbar-right">
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/inicio" >Inicio</a></li>
                <li routerLinkActive="active" *ngIf="isAuthenticated"><a routerLink="/cuenta" >Mi Cuenta</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/registro" >Registrar Usuario</a></li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated"><a routerLink="/login" >Iniciar Sesión</a></li>
                <li *ngIf="isAuthenticated"><a (click)="onLogout()" >Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>