<h2>Seleccione un seguro de su lista:</h2>
<div class="row">
    <div class="col-xs-12 alert alert-danger" *ngIf="seguros.length == 0">        
        <h3>Usted no posee seguros asociados a su matrícula o dni</h3>
    </div>
    <div class="col-xs-12">
        <app-seguros-item
        *ngFor="let seguroEl of seguros; let i = index"
        [seguro]="seguroEl"
        [index]="i"></app-seguros-item>
    </div>
</div>