<header class="jumbotron my-2">
  <h1 class="display-3 text-center">Bienvenido, {{currentUser.nombre}} {{currentUser.apellido}}!</h1>
  <p class="lead text-center">En este sitio podrá consultar todos sus seguros con su respectiva información y solicitar cambios sobre los mismos.</p>
</header>
<div class="container text-center">
  <h1 class="display-2">¿Qué desea realizar?</h1>
</div>
<div class="row text-center">  
  <div class="col-lg-4 col-md-6">    
    <div class="card">     
      <img class="card-img-top" src="../../assets/search.png" alt="Card image" style="width:46%"> 
      <div class="card-body">
        <h3 class="card-title">Consultar Seguros Asociados</h3>
        <p class="card-text">Aquí podrá consultar 
          todos los seguros asociados a su matrícula
           o DNI en las diferentes compañías</p>
      </div>
      <div class="card-footer">
        <a routerLink="/seguros" class="btn btn-primary">Ver Seguros Asociados</a>
      </div>
    </div>
  </div>  
  <div class="col-lg-4 col-md-6" *ngIf="currentUser.tipoUsuarioId == 1">
    <div class="card">
    <img class="card-img" src="../../assets/createSolicitud.png" alt="Card image" style="width:40%"> 
      <div class="card-body">
        <h3 class="card-title">Solicitar Cambios</h3>
        <p class="card-text">Aquí podrá solicitar el alta, baja o modificación de un seguro para que su productor se encargue de realizarlo.</p>
      </div>
      <div class="card-footer fixed-bottom">
        <a routerLink="/solicitarCambios" class="btn btn-primary">Solicitar Cambio</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card">
      <img class="card-img-top" src="../../assets/verSolicitud.png" alt="Card image" style="width:48%">
      <div class="card-body">
        <h3 class="card-title">Ver Solicitudes</h3>
        <p class="card-text">Aquí podrá consultar las solicitudes realizadas para cambios en los seguros y sus respectivos estados</p>
      </div>
      <div class="card-footer">
        <a routerLink="/solicitudes" class="btn btn-primary">Ver Solicitudes</a>
      </div>
    </div>
  </div>
</div>
