<div class="row">
    <div class="col-xs-12">
        <h1 class="text-center">Detalles del Seguro</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3>Seguro ID:</h3>
    </div>
    <div class="col-xs-2">
        <h3>{{ seguro.id }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3>Tipo de Seguro:</h3>
    </div>
    <div class="col-xs-2">
        <h3>{{ seguro.tipoSeguro }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3>Estado del Seguro:</h3>
    </div>
    <div class="col-xs-2">
        <h3 style="
        color: red;" 
        *ngIf="seguro.estado ==='Vencido'">{{ seguro.estado }}</h3>
        <h3 style="
        color: green;" 
        *ngIf="seguro.estado ==='Activo'">{{ seguro.estado }}</h3>
        <h3 style="
        color: #b0bf2e;" 
        *ngIf="seguro.estado ==='Revisar'">{{ seguro.estado }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3>Compañia Aseguradora:</h3>
    </div>
    <div class="col-xs-2">
        <h3>{{ seguro.compania }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3>Asegurado:</h3>
    </div>
    <div class="col-xs-2">
        <h3>{{ seguro.asegurado.nombre }} {{ seguro.asegurado.apellido }} </h3>
    </div>
</div>
<div class="row">
    <div class="col-xs-10">
        <h3>Productor:</h3>
    </div>
    <div class="col-xs-2">
        <h3> {{ seguro.productor.nombre }} {{ seguro.productor.apellido }} </h3>
    </div>
</div>
<div class="row" *ngFor="let detalle of seguro.detalles; let i = index">
    <div class="col-xs-10">
        <h3>{{detalle.nombre}}:</h3>
    </div>
    <div class="col-xs-2">
        <h3>{{ detalle.valor }} </h3>
    </div>
</div>
