<header class="jumbotron my-2">
    <h1 class="display-3 text-center">Iniciar Sesión</h1>
    <p class="lead text-center">Ingrese su Email y Contraseña para poder consultar toda la información sobre sus seguros.</p>
</header>
<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="alert alert-danger" *ngIf="error">
            <p>{{ error }}</p>
        </div>
        <div *ngIf="isLoading">
            <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmitLogin(authForm)" *ngIf="!isLoading">
            <div class="form-group">
            <label for="email">Email</label>
            <input 
            type="email" 
            id="email" 
            name="email" 
            class="form-control" 
            ngModel
            required 
            #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Por favor, ingrese un email válido</span>
            </div>
            <div class="form-group">
            <label for="password">Password</label>
            <input 
            type="password" 
            id="password" 
            class="form-control"
            ngModel 
            name="password"
            minlength="6"
            #password="ngModel"
            required
            />
            </div>
            <div>
            <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Iniciar Sesión</button>
            </div>
        </form>
    </div>
  </div>
