<header class="jumbotron my-2">
    <h1 class="display-3 text-center">Ver Seguros Asociados</h1>
    <p class="lead text-center">Aquí podrá ver todos los seguros asociados a su matrícula o dni según corresponda y ver detalles de los mismos.</p>
</header>
<div class="row">
    <div class="col-md-5">
        <app-seguros-list></app-seguros-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>
