<header class="jumbotron my-2">
    <h1 class="display-3 text-center">Solicitar Cambios</h1>
    <p class="lead text-center">Aquí podrá solicitar las altas, bajas o modificaciones para un seguro.</p>
</header>
<div class="container text-center">
    <h1 class="display-2">Seleccione una acción:</h1>
  </div>
  <br>
  <div class="row text-center">  
    <div class="col-lg-4 col-md-6">    
      <div class="card">     
        <img class="card-img-top" src="../../assets/alta.png" alt="Card image" style="width:50%"> 
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <a routerLink="/solicitarCambios/alta" class="btn btn-primary">ALTA</a>
        </div>
      </div>
    </div>  
    <div class="col-lg-4 col-md-6">
      <div class="card">
      <img class="card-img" src="../../assets/modificacion.png" alt="Card image" style="width:41%"> 
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </div>
        <div class="card-footer fixed-bottom">
          <a routerLink="/solicitarCambios/modificacion" class="btn btn-primary">MODIFICACIÓN</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img class="card-img-top" src="../../assets/baja.png" alt="Card image" style="width:50%">
        <div class="card-body">
          <h3 class="card-title"></h3>
          <p class="card-text"></p>
        </div>
        <div class="card-footer">
          <a routerLink="/solicitarCambios/baja" class="btn btn-primary">BAJA</a>
        </div>
      </div>
    </div>
  </div>

